<div class="card">
    <ul>
        {{#each burgs}}
        {{#if this.devour}}
        <li class="mt-4 mb-4">
        <p>{{this.burgname}}</p>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>