<div class="container">
    <div class="row mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name" id="burgerName">
            <div class="input">
                <button class="btn btn-outline-success" type="button" id="addBurger">Add</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> pristine}}
        </div>
        <div class="col">
            {{> devoured}}
        </div>
    </div>

</div>