body {
    background-image: url(../img/tile.jpg);
    background-size: cover;
    padding: 20px;
    height: 100vh;
    
  }
  .jumbotron {
      background-image: url(../img/steel.jpg);
      background-size: cover;
      
  }
  h1 {
      text-align: center;
      font-family: 'Permanent Marker', cursive;
  }
  #burgerName {
      font: 12px, sans-serif;
  }
 #devourbtn {
    font: 12px, sans-serif;
  }

  .card {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;
    font-family: 'Permanent Marker', cursive;
  }
  .card:before, .card:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .card:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .card:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }